a {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

body {
    font-family: 'Montserrat';
    font-size: large;
}

.caption {
    position: absolute;
    margin: 0;
    height: 10%;
    bottom: 0;
}

.col-sm ul {
    font-size: 80%;
}

.col-sm li {
    list-style: none;
    font-size: 80%;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.coupons-btn {
    color: #FFFFFF;
    background-color: #00463C;
    border-radius: 30px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
}
.coupons-btn {
    cursor: pointer;
}

.coupons-btn:active {
    background-color: #002520;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
    border-color: #FFFFFF;
}

.dropdown-menu {
    background-color: #00463C;
    border: 0;
}

.dropdown-item:hover {
    background-color: #00463C;
}

.first-paragraph {
    margin: auto;
}

.header {
    display: flex;
    max-height: 50vh;
}

.header-img {
    object-fit: cover;
    width: 100%;
}

iframe {
    display: block;
}

.icon-img {
    width: 2rem;
    cursor: pointer;
}

.inactive {
    color: #C2C2C2;
}

.inactive:hover {
    color: #FFFFFF;
}

.hours-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 1em;
}

.lower-footer {
    color: #C2C2C2;
    font-size: 1rem;
    background-color:#00463C;
}

.navbar {
    background-color: #00463C;
    font-family: 'Montserrat';
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.upper-footer {
    padding: 1rem 3rem 1rem 3rem;
    background-color:#D9D9D9;
}
